@using System.Data;
@using XmlCrud.App_Code;
@using System.Xml.Linq;
@using System.Xml;

@{
    SongMethods mySongMethods = new SongMethods();
    string file = Session["file"] as string;
    DataSet ds = mySongMethods.GetAllSongs(file);
    Session["playlistClass"] = mySongMethods;
    Session["file"] = file;
    string id = Request.QueryString["id"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        @foreach (DataRow dr in ds.Tables["song"].Select("id = '" + id + "'"))
        {
        <audio src="~/Uploads/@dr["file"]" controls="controls">
            </audio>
            <br /><br />
            <a href="~/index.cshtml"><i class="fa fa-home"></i></a>
        }

    
    </div>
</body>
</html>
