.content {
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100vh - 272px);
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.fa-play {
    color: green;
    height: 50px;
}
.fa-pause {
    color: red;
    height: 50px;
}
.jumbotron{
    background-color: lightgray;
    margin-bottom: 0px;
}
body{
    background-color: lightcyan;
}
.copy {
    background-color: lightgray;
}
