.content {
    margin: 15px;
}
.fa-play {
    color: green;
    height: 50px;
}
.fa-pause {
    color: red;
    height: 50px;
}
.jumbotron{
    background-color: lightgray;
}
body{
    background-color: lightcyan;
}
.copy {
    background-color: lightgray;
}
