<!DOCTYPE html>
@using System.Data;
@using XmlCrud.App_Code;
@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/custom/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <title>DeleteSong XML || CRUD</title>
</head>
<body>
    <div class="jumbotron">
        <h1>XML CRUD</h1>
        <p>Verwijder Song - Verwijder een nummber van de Database!</p>
    </div>
    <div class="content">
        <form method="post">
            Weet u zeker dat u deze song wilt verwijderen?
            <br />
            Ja <input type="radio" name="keuze" value="ja" />
            Nee <input type="radio" name="keuze" value="nee" />
            <br />
            <br />
            <input type="submit" name="verder" value="Verder" class="btn btn-primary" />
        </form>
        @if (Request.QueryString["id"] == "0")
        {
            <script>window.alert("Sorry, But you cant delete this one, otherwise it will cause problems"); window.location.href = "/index.cshtml"</script>
        }
        @if (IsPost)
        {
            //check if the choose to delete song is "ja"
            if (Request.Form["keuze"] == "ja")
            {
                string id = Request.QueryString["id"];
                mySongMethods.DeleteSong(id, file);
                Response.Redirect(@"~/index.cshtml");
            }
            if (Request.Form["keuze"] == "nee")
            {
                Response.Redirect(@"~/index.cshtml");
            }
        }
    </div>
    <div class="copy card-footer">
        &copy; 2020 Copyright: <a>Bjorn van der Horst & Yorick Bosman</a>
    </div>
</body>
</html>
